@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
  --background-light: #fffbf5;
  --background-dark: #1c1c1c;
  --text-dark: #333;
  --text-light: #EEEEEE;
  --button-bg: #ef9920;
  --button-bg-hover: #f0e6d6;
  --container-bg: #ffffff;
  --header-bg: #f0e6d6;
  --footer-bg: #f0e6d6;
  --input-bg: #ffffff;
  --input-border: #ccc;
  --repo-title:#ee9b01;
}


body {
  font-family: 'Lexend', sans-serif;;
  padding: 10px;
  background-color:  var(--background-light);
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 250px;
  text-align: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

#select-repo-button {
  background-color: #ef9920;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.title {
  text-align: center;
  color: #4a90e2;
  margin-right: 10px;
}

.container {
  margin: 0 auto;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.selected-repo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
  gap: 5px; /* Add space between label and repo name */
}

.selected-repo span#selected-repo {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1; /* Allow the span to take as much space as possible */
  min-width: 0; /* Prevents the flexbox from forcing the element to expand */
  text-align: center;
  color: var(--repo-title);
}
.problem-details {
  text-align: center;
  margin-bottom: 30px;
}

#problem-name {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
  color: #2c3e50;
}

#problem-difficulty {
  font-size: 16px;
  color: #7f8c8d;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  text-align: center;
}

.auth-button {
  background-color: var(--button-bg);
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button button:hover {
  background-color: var(--button-bg-hover);
  color: var(--text-dark)
}

.auth-button button:focus {
  outline: none;
}


/* Footer styles */
.footer {
  background-color: var(--header-bg);
  padding:5px;
  padding-top: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px; 
}

.footer span{
  margin-left: 5px;
}

.footer-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none; /* Remove underline */
}

.footer-icon {
  width: 25px;
  height: 25px;
}
