body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #2b2118;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #3c2e22;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
  color: #ef9920;
  text-align: center;
}

.repo-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  background-color: #ef9920;
  color: #2b2118;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d88a1c;
}

.repo-selection,
#create-repo {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ef9920;
}

select,
input[type='text'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ef9920;
  border-radius: 5px;
  background-color: #2b2118;
  color: #fff;
}

.hidden {
  display: none;
}

#use-repo-btn,
#create-use-repo-btn {
  margin-top: 10px;
  background-color: #4a3827;
  color: #ef9920;
}

#use-repo-btn:hover,
#create-use-repo-btn:hover {
  background-color: #5c4632;
}

/* Add some hover effects to improve interactivity */
select:hover,
input[type='text']:hover {
  border-color: #d88a1c;
}

select:focus,
input[type='text']:focus {
  outline: none;
  border-color: #d88a1c;
  box-shadow: 0 0 5px rgba(239, 153, 32, 0.5);
}
